{% load static %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <!-- <a href="host_id" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" />
      </div>
      <span>@Glory</span>
    </a> -->
    <div class="roomListRoom__actions">
      <!-- <span>200 days ago</span> -->
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="feed_id">D-V</a>
    <p>
    <a href="{% url 'home' %}"  class="body__images">
      <!-- <img src="{% get_static_prefix %}images/{{ system.img }}" /> -->
    Visualization
    </a></p>
  </div>
</div>
