{% extends 'main.html' %} {% block content %}

<!--Style the home container-->
<!--Grid style 1:3 1-sidebar, 3-body-->
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">
  <!-- Sidebar that says browse topicw-->
  <div>{% include 'chatroom/topics_component.html' %}</div>

  <div>
    <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create-room' %}">Create Roon</a>

    <!--List all the rooms [get from feed_components]-->
    <div>{% include 'chatroom/feed_component.html' %}</div>

  </div>

  <!--Recent Activities column-->
  <div>{% include 'chatroom/activity_component.html' %}</div>
</div>

{% endblock content %}
