{% extends 'main.html' %}


{% block content %}


{% if page == 'loginpage' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username" />

        <label>Password::</label>
        <input type="text" name="password" placeholder="Enter Password" />
        <input type="submit" value="Login"/>

    </form>

    <!--Add a redirect link to the sign up page-->
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register'%}"> Sign up</a>
</div>

{% else%}
<!--Add Registration Form for new people -->
<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        {{form.as_p}}

        <input type="submit" value="Register"/>

    </form>

    <!--Add a redirect link to the sign in page-->
    <p>Already signed up</p>
    <a href="{% url 'loginpage'%}"> Sign in</a>

</div>

{% endif %}


{% endblock content %}