<!DOCTYPE html> 

<!--load the static file in static folder-->
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PRC Systems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--render the styling for all pages
        This will apply the styles the specified css file to all the pages-->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">

        <!--<script src="main.js"></script>-->

    </head>

    <body>

        {% include "navbar.html" %}

        <!--This section shows any for of flash message in our app-->
        <!--Check Django flash messages online fo-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}        

        <!-- sample image render on your pages -->
        <!--img src="{% static 'images/PRC.png' %}"/-->

        {% block content %}


        {% endblock content %}


    </body>
</html>