{% extends 'main.html' %} {% load static %}{% block content %}

<main>
  <div class="container">
    <div class="grid-container_n">
      <div class="item1">
        <h1>PRC Data Visualization</h1>
      </div>
    </div>

    <!-- Introduction to data visualization -->
    <div class="grid-container_n">
      <div class="item1">
        <p>
          PRC The data visualization systems provides users the opportunity to
          visualize their data with all the rich python visualization libraries.
          Select your dataset using the data picker below and choose the type of
          visualization that you want, with the settings you desired
        </p>
      </div>
    </div>

    <!-- Main visualization -->
    <div class="grid-container_n">

      <div class="item1">
        <div class="visualsettings">
          <div class="visualsettings__header">
            <h2>File Selection and Settings</h2>
          </div>

          <div class= "visualsettings__content">
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %} 
              {{fileform.as_p}}
              <input type="submit" value = Submit />
            </form>

            <br />
            <p>Variable settings</p> 
          </div>
          
        </div>
      </div>

      <!-- Column Two -->
      <div class="item2">
        <!-- Container to keep file selector -->
        <div class="roomListRoom">
          <div class="roomListRoom__header"></div>

          <div class="roomListRoom__content">Data Overview</div>
        </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}
