{% load static %}
{% for system in systems %}

<div class="roomListRoom">
  <div class="roomListRoom__header">
    <!-- <a href="host_id" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" />
      </div>
      <span>@Glory</span>
    </a> -->
    <div class="roomListRoom__actions">
      <!-- <span>200 days ago</span> -->
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="feed_id">{{system.name}}</a>
    <p>
    <a href="{% url 'home' %}{{system.link}}"  class="body__images">
      <img src="{% get_static_prefix %}images/{{ system.img }}" />
    </a></p>
    <p>{{system.det}}</p>
  </div>
  <div class="roomListRoom__meta">
    <a href="linkww" class="roomListRoom__joined">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <title>user-group</title>
      </svg>
      Installable GUI Program
    </a>
    <p class="roomListRoom__topic">{{system.name}}</p>
  </div>
</div>

{% endfor %}
